<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wukui.daily.dal.dao.WkUserDao">
    <!--  新增记录  -->
    <insert id="insert" parameterType="WkUserDO" useGeneratedKeys="true" keyProperty="id">
        insert into wk_user(gmt_create, gmt_modified, user_name,age) values(now(), now(),#{userName},#{age})
    </insert>
    <!--  查询单条记录  -->
    <select id="queryById" parameterType="long" resultType="WkUserDO">
        select * from wk_user where id = #{id}
    </select>
</mapper>